{{#each topics_dict}}
    <div id="{{./[0]}}">
        {{#each ../streams_dict}}
            {{#if (eq ./[0] ../[0])}}
                {{> inbox_row ./[1]}}
            {{/if}}
        {{/each}}
        <div class="inbox-topic-container">
            {{#each ./[1]}}
                {{>inbox_row ./[1]}}
            {{/each}}
        </div>
    </div>
{{/each}}
